<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Abacus</title>
</head>

<body class="bg-[#131417]">
    <h1 class="text-6xl font-bold text-center text-white mt-10 mb-20">🧮Abacus🧮</h1>
    <div class="p-1.5 mx-auto my-10 max-w-sm rounded-xl bg-gradient-to-r from-rose-400 via-fuchsia-500 to-indigo-500">
        <div class="bg-[#40444b] p-5 rounded-lg">
             <form action="/" method="post" enctype="multipart/form-data">
                <input class="text-xl text-[#F4F4F4]" type="file" name="imagefile">
                <input class="text-[#F4F4F4] font-bold hover:underline" type="submit" value="Upload">
             </form>
        </div>
    </div>

    {% if prediction %}
        <h2 class="mt-20 text-center text-3xl text-slate-300">Prediction: {{ prediction }}</h2>
    {% endif %}
</body>

</html>
